.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.uk-background-primary,.uk-button-primary,.uk-section-primary {
  background-color: #e54335 !important ;
}

.App .logo {
  width: 210px;
  height: 70px;
}


.login {
  background:rgba(229, 67, 53, 0.83);
  padding: 50px 30px;
  border-radius: 15px;
  width: 50%;
}

.signup {
  background:rgba(229, 67, 53, 0.83);
  padding: 50px 30px;
  border-radius: 15px;
  width: 50%;
}

.login .uk-button-primary,.signup .uk-button-primary, .ruta .uk-button-primary,.section-image .uk-button-primary  {
  background:#fff !important;
  color:#e54335 !important;
}

.section-image a {
  color:#e54335 !important;
}
 
.login h2,.signup h2 {
  font-weight:600;
  color :#fff;
}

.hero-content-login{
  position:absolute;
  left:0;
  right:0;
  top:35%;
}

.hero-content-signup{
  position:absolute;
  left:0;
  right:0;
  top:28%;
}

.uk-input,input[type="text"],input[type="email"], input[type="password"], input[type="number"], textarea {
  border-radius: 5px !important;
  padding: 15px 15px !important;
  max-width: 100% !important;
    width: 100% !important;
    height: auto !important;
}

.uk-radio {
  margin: 0 5px !important;
  background: #fff !important;
}

.uk-radio:checked {
  background-color: #e54335 !important;
  margin: 0 5px !important;
}

.uk-navbar-nav>li>a {
  color: #4c4c4c !important;
  text-transform:capitalize !important;
  font-size:18px !important;
}
.uk-dropdown {
 left:85% !important;

}

#footer .uk-navbar-nav>li>a {
  color: #fff !important;
}

h5 {
  font-weight: 500 !important;
  font-size: 18px !important;
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
