.buscador-content {
    position: absolute;
    left: 0;
    right: 0;
    top: 35%;
    z-index: 5;
}
.buscador {
    position: relative;
    margin:0;
    padding:0;
 
}

#background-video{
    width:100vw;
   
}

/* 
.buscador:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #fff;
    z-index: 0;
    opacity: 0.6;

} */

.uk-search-large .uk-search-input {
    background: #fff !important;
    border: 2px solid #c1c1c1;
}

.uk-search-large .uk-search-icon {
    height: 80px;
}

.uk-search-large {
    width: 65% !important;
}

.buscador-content h1 {
    font-weight: 700;
}