 .home-background  {
    background-image: url(https://res.cloudinary.com/dqdpblijd/image/upload/v1539783327/ruta-s/background.jpg);
    background-size:cover;
    height: 100vh;
    position:relative;

}

/* .home-background img {
    animation-name: escalar;
    animation-duration: 15s;
    animation-direction: reverse;
    animation-timing-function: ease-in;
    transform-origin: 100% 0;
}



@keyframes escalar {
    0% {transform:scale(1);}
    100%{transform:scale(1.2);}
} */



.menu{
    padding:30px;
}

.home-background .logo {
    width: 210px;
    height: 70px;
}


.hero-content{
    position:absolute;
    left:0;
    right:0;
    top:40%;
}

.hero-content h1 {
    font-weight:700;
}

#how svg {
    width: 60px;
    color: #fff;
}

#how-inner svg {
    width: 60px;
    color: #e54335;
}

.uk-navbar-right {
    float: right;
}

.uk-navbar-container:not(.uk-navbar-transparent) {
    background: none !important;
}
#footer.uk-section-secondary{
    padding:10px 0 !important
}

.logo-footer{
    float: left;
}

img.logo-footer {
    width: 170px;
    padding:15px 0;
}


img.marker {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
    width:350px;
}
img.marker {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}

#about .uk-flex-center {
    justify-content: center;
    align-items: center;
}

.about-content{
    text-align:left;
}